﻿@model List<Digitest.Models.DragDrop>

@{
    ViewBag.Title = "Vastused";
}

<h2>Vastuste lisamine</h2>
<div style="width:700px; padding:5px; background-color:white;">
    @using (Html.BeginForm("DragDropChoices", "AnswerChoices", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
        }


         
        

        <div>
            <a href="#" id="addNew"><b>Lisa vastus</b></a>
        </div>
        <table id="table" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <th>Vasak</th>
                <th>Parem</th>
                @*<th></th>*@
            </tr>
            @if (Model != null && Model.Count > 0)
            {


                int j = 0;
                foreach (var i in Model)
                {
            <tr style="border:1px solid black">

                
                <td>

                    @Html.TextBoxFor(a => a[j].DragDropLeft.LeftText)
                    @Html.HiddenFor(a => a[j].DragDropLeft.QuestionId)


                </td>
                <td>
                    @Html.TextBoxFor(a => a[j].DragDropRight.RightText)
                    @Html.HiddenFor(a => a[j].DragDropRight.QuestionId)
                </td>

                @*<td>
            @if (j > 0)
            {

                <a href="#" class="remove">Eemalda vastus</a>
            }
        </td>*@

            </tr>

                    j++;
                }
            }
        </table>
        <input type="submit" value="Salvesta" />
    }

</div>
    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval")
        <script language="javascript">
            $(document).ready(function () {

                //1. Add new row
                $("#addNew").click(function (e) {
                    e.preventDefault();
                    var $tableBody = $("#table");
                    var $trLast = $tableBody.find("tr:last");
                    var $trNew = $trLast.clone();

                    var suffix = $trNew.find(':input:first').attr('name').match(/\d+/);
                    //$trNew.find("td:last").html('<a href="#" class="remove">Eemalda vastus</a>');
                    $.each($trNew.find(':input'), function (i, val) {
                        // Replaced Name
                        var oldN = $(this).attr('name');
                        var newN = oldN.replace('[' + suffix + ']', '[' + (parseInt(suffix) + 1) + ']');
                        $(this).attr('name', newN);
                        //Replaced value
                        var type = $(this).attr('type');
                        if (type.toLowerCase() == "text") {
                            $(this).attr('value', '');
                        }

                        // If you have another Type then replace with default value
                        $(this).removeClass("input-validation-error");

                    });
                    $trLast.after($trNew);

                    // Re-assign Validation
                    var form = $("form")
                        .removeData("validator")
                        .removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(form);
                });

                // 2. Remove
                //$('a.remove').live("click", function (e) {
                //    e.preventDefault();
                //    $(this).parent().parent().remove();
                //});

            });
        </script>
    }
