﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
    /*font-size: 13px;*/
    font-weight: 200;
    line-height: 1,2;
    color: inherit;
   
}
.navbar {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
    font-weight: 200;
    line-height: 2.1428571435;
    background-color: lightgray;
    color: #4d4d4d;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 4px solid #fc0d1b;
    
}
/*.container{

}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#logo {
    margin-top: 3px;
    width: 112px;
    float: left;
    margin-left: 20px;
}
.jumbotron {
    border-top: 4px solid #fc0d1b;
    background-color: #f2f4f9;
    width: initial;

}
hr {
    display:initial;
    height: 1px;
    border: 0;
    border-top: 4px solid #fc0d1b;    
    margin: 1em 0;
    padding: 0;
    width:100%;
}

.questionBox {
    background-color: #BECB2B;
    height: 100px;
    width: auto;
    padding: 20px;
    text-align: left;
}

.query {
    background-color: pink;
    /*font-size:18px;*/
    
}
.checkbox {
    background-color: white;
}
.btn-default {
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
}

    .btn-default:hover {
        background-color: darkred;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }


   
.answer {
    background-color: green;
}
.drop {
    display:inline-block;
}
.drag {
    display: flex;
    padding:20px;
}
    

.query {
    background-color: white;
    /*border-top: 4px solid #fc0d1b;*/    
    width:100%;
}

.dragRightId {
    width: 450px;
    height: 50px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #66CCFF;
    border: 1px solid grey;
}
/*.dragRight {
    width: 450px;
    height: 50px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #66CCFF;
    border: 3px solid #73AD21;
}*/


#dragDropLeftId {
    width: 500px;
    height: 50px;
    padding-left: 5px;
    border: 1px solid #aaaaaa;
    background-color: cornflowerblue;
}
#div1 {
    width: 350px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    background-color: lightpink;
    text-align: justify;

}

div.relative {
    position: relative;
    padding-top: 50px;
    left: 330px;
    width: 500px;
    height: auto;
    
}
ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    table-layout: auto;
    border: 3px solid #73AD21;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}