﻿@model IEnumerable<Digitest.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*@if (User.IsInRole("Admin"))
{*@
<p>
    @Html.ActionLink("Uus küsimus", "Create")
</p>
@*}*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnswerType.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>

        <th></th>
    </tr>
    @{ 
        int counter = 0;
    }
    @foreach (var item in Model)
    {
        counter++;
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.AnswerType.TypeName)
            </td>
            <td>
               @(counter + ". ")@Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                @Html.ActionLink("Loo vastus", "Choices","AnswerChoices", new { questionId= item.Id }, null)
            </td>
        </tr>
    }
    
</table>
